
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-gavel me-2"></i>
            AIR - Sistema de Gestión Legislativa
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/asambleistas">
                        <i class="fas fa-users me-1"></i> Asambleístas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/normativa/arbol">
                        <i class="fas fa-book me-1"></i> Normativa
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compilador">
                        <i class="fas fa-code-branch me-1"></i> Compilador
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sesiones">
                        <i class="fas fa-calendar-alt me-1"></i> Sesiones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sesiones/votacion">
                        <i class="fas fa-vote-yea me-1"></i> Votación
                     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/certificaciones">
                        <i class="fas fa-certificate me-1"></i> Certificaciones
                    </a>
                <li class="nav-item">
                    <a class="nav-link" href="/comisiones">
                       <i class="fas fa-users-cog me-1"></i> Comisiones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bitacora">
                        <i class="fas fa-history me-1"></i> Bitácora
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>